Source Code/Web/Service References/JobZoomServiceReference/JobZoomService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobZoomService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22608/JobZoomService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22608/JobZoomService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22608/JobZoomService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entities" />
      <xsd:import schemaLocation="http://localhost:22608/JobZoomService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:22608/JobZoomService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobZoomService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IJobZoomService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IJobZoomService_GetProfileBasicByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileBasicByUserId" />
  </wsdl:message>
  <wsdl:message name="IJobZoomService_GetProfileBasicByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileBasicByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IJobZoomService_SaveProfileBasic_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProfileBasic" />
  </wsdl:message>
  <wsdl:message name="IJobZoomService_SaveProfileBasic_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProfileBasicResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobZoomService">
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobZoomService/ValidateUser" message="tns:IJobZoomService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobZoomService/ValidateUserResponse" message="tns:IJobZoomService_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileBasicByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobZoomService/GetProfileBasicByUserId" message="tns:IJobZoomService_GetProfileBasicByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobZoomService/GetProfileBasicByUserIdResponse" message="tns:IJobZoomService_GetProfileBasicByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProfileBasic">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobZoomService/SaveProfileBasic" message="tns:IJobZoomService_SaveProfileBasic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobZoomService/SaveProfileBasicResponse" message="tns:IJobZoomService_SaveProfileBasic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobZoomService" type="tns:IJobZoomService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IJobZoomService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileBasicByUserId">
      <soap:operation soapAction="http://tempuri.org/IJobZoomService/GetProfileBasicByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProfileBasic">
      <soap:operation soapAction="http://tempuri.org/IJobZoomService/SaveProfileBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobZoomService">
    <wsdl:port name="BasicHttpBinding_IJobZoomService" binding="tns:BasicHttpBinding_IJobZoomService">
      <soap:address location="http://localhost:22608/JobZoomService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>