Source Code/Web/Service References/JobZoomServiceReference/JobZoomService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16684/JobZoomService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobZoom.Services" />
  <xs:import schemaLocation="http://localhost:16684/JobZoomService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JobZoom.Services" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JobZoom.Services" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetAllCountriesResult" nillable="true" type="q3:ArrayOfCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetAllCitiesResult" nillable="true" type="q4:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIndustries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIndustriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetAllIndustriesResult" nillable="true" type="q5:ArrayOfIndustry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFunctions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFunctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetAllFunctionsResult" nillable="true" type="q6:ArrayOfFunction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobseeker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobseekerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetJobseekerResult" nillable="true" type="q7:Jobseeker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonalInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="model" nillable="true" type="q8:Jobseeker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePersonalInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExperience">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExperienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetExperienceResult" nillable="true" type="q9:Jobseeker_Experience" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetAllEducationResult" nillable="true" type="q10:ArrayOfJobseeker_Experience" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExperience">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExperienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetAllExperienceResult" nillable="true" type="q11:ArrayOfJobseeker_Experience" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="model" nillable="true" type="q12:Jobseeker_Experience" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEducationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkExperience">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="model" nillable="true" type="q13:Jobseeker_Experience" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkExperienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkExperienceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExperience">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="model" nillable="true" type="q14:Jobseeker_Experience" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExperienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveExperienceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExperience">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExperienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteExperienceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetAllSkillResult" nillable="true" type="q15:ArrayOfJobseeker_Skill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="model" nillable="true" type="q16:Jobseeker_Skill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSkillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSkillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHonorAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHonorAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetAllHonorAwardResult" nillable="true" type="q17:ArrayOfJobseeker_HonorAward" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHonorAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHonorAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetHonorAwardResult" nillable="true" type="q18:Jobseeker_HonorAward" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHonorAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="model" nillable="true" type="q19:Jobseeker_HonorAward" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHonorAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHonorAwardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHonorAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="model" nillable="true" type="q20:Jobseeker_HonorAward" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHonorAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveHonorAwardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHonorAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHonorAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHonorAwardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetAllProjectResult" nillable="true" type="q21:ArrayOfJobseeker_Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="GetProjectResult" nillable="true" type="q22:Jobseeker_Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="model" nillable="true" type="q23:Jobseeker_Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/JobZoom.Business.Entites" minOccurs="0" name="model" nillable="true" type="q24:Jobseeker_Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>